# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.4

## Exercícios Cap02

In [7]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

lista_01 = [x for x in range(1,11)]
lista_01

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

lista_02 = ['ovo', 'cenoura', 'arroz', 'feijão', 'batata']
print(lista_02)

['ovo', 'cenoura', 'arroz', 'feijão', 'batata']

In [8]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

string_1 = "Evandro"
string_2 = "Avellar"
string_3 = string_1 + ' ' + string_2
string_3

'Evandro Avellar'

In [9]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla_1 = 1, 2, 2, 3, 4, 4, 4, 5
tupla_1.count(4)

3

In [10]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

vortaro = {}
vortaro

{}

In [11]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

vortaro_eo = {
    'arvore' : 'arbo',
    'abelha' : 'abelo',
    'cachorro' : 'hundo'
}

vortaro_eo

{'arvore': 'arbo', 'abelha': 'abelo', 'cachorro': 'hundo'}

In [13]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

vortaro_eo['gato'] = 'kato'
vortaro_eo

{'arvore': 'arbo', 'abelha': 'abelo', 'cachorro': 'hundo', 'gato': 'kato'}

In [14]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

endereco = {'rua' : 'Getulio Vargas', 'cidade' : 'Valença', 'geolocalização' : [4.5, 8.9]}
endereco

{'rua': 'Getulio Vargas', 'cidade': 'Valença', 'geolocalização': [4.5, 8.9]}

In [16]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

lista_3 = [
    'Evandro',
    (75, 11),
    {'rua' : 'Getulio Vargas', 'cidade' : 'Valença'},
    1.75
]
lista_3

['Evandro', (75, 11), {'rua': 'Getulio Vargas', 'cidade': 'Valença'}, 1.75]

In [17]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.

frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[:18]

'Cientista de Dados'

# Fim